<?xml version="1.0" encoding="UTF-8"?>
<launch>
   <!-- values passed by command line input -->     
   <arg name="model" />
   <!-- whether to launch the user interface window of Gazebo-->
   <arg name="gui" default="false" />

   <!-- set these parameters on Parameter Server -->
   <param name="robot_description" textfile="$(find com760_group19)/urdf/$(arg model)" />
   <param name="use_gui" value="$(arg gui)"/>

   <!-- Start 3 nodes: joint_state_publisher, robot_state_publisher and rviz -->
   <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />

   <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
   <!-- starts rviz with a urdf.rviz configuration file -->
   <node name="rviz" pkg="rviz" type="rviz" args="-d $(find com760_group19)/urdf.rviz" required="true" />
   <!-- (required = "true") if rviz dies, entire roslaunch will be killed -->
</launch>